<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
{% extends 'libapp/base.html' %}
{% block body_block %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center"><span class="index_heading">Details</span></h1>
        </div>
    </div>

    <div class="row">



        {% if itemlist %}
            {% for item in itemlist %}
                {% if item.id == item_id|add:0 %}
                    {% if item.itemtype == "Book" %}
                        <table class="table table-hover">
                            <tr>
                                <th>ITEM TITLE</th>
                                <th>ITEM AUTHOR</th>
                                <th>ITEM PUBLICATION YEAR</th>
                            </tr>
                        {% for books in booklist %}
                            {% if books.id == item_id|add:0 %}
                                <tr>
                                <td>{{ item.title }}</td>
                                <td>{{ books.author }}</td>
                                <td>{{ item.pubyr }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </table>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="row">



{% if itemlist %}
    {% for item in itemlist %}
        {% if item.id == item_id|add:0 %}
            {% if item.itemtype == "DVD" %}
                <table class="table table-hover">
                    <tr>
                        <th>ITEM TITLE</th>
                        <th>DVD MAKER</th>
                        <th>DVD RATING</th>
                        <th>DVD DURATION</th>
                        <th>ITEM PUBLICATION YEAR</th>
                    </tr>
                {% for dvds in dvdlist %}
                    {% if dvds.id == item_id|add:0 %}
                        <tr>
                        <td>{{ item.pubyr }}</td> 
                        <td>{{ item.title}}</td> 
                        <td>{{ dvds.maker }}</td>
                        <td>{{ dvds.rating }}</td> 
                        <td>{{ dvds.duration }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </table>
        {% endif %}
    {% endfor %}
{% endif %}

</div>



{% endblock %}
</body>
</html>