<!DOCTYPE html>
{% extends 'libapp/base.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suggestions</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
    <script src="https://use.fontawesome.com/e574078331.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'libapp/style.css' %}" />

</head>
<body>

{% block body_block %}

    <div class="container">
        <div class="row">
            <h1 class="text-center"><span class="index_heading">List of suggestions tailored for you</span></h1>
        </div>
    </div>

    <div class="row">
        {% if itemlist %}

            <div class="col-md-12">

                <div class="col-md-4 col-md-offset-2">
                    <h1><i class="fa fa-book" aria-hidden="true"></i></h1>
                    {% for item in itemlist %}
                        {% if item.type == 1 %}
                        <h4><a href="{% url 'libapp:info' item.id%}">{{ item }}</a></h4>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col-md-4">
                    <h1><i class="glyphicon glyphicon-cd" aria-hidden="true"></i></h1>
                    {% for item in itemlist %}
                        {% if item.type == 2 %}
                        <h4><a href="{% url 'libapp:info' item.id%}">{{ item }} </a></h4>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        {% else %}
            <strong>There are no available items!</strong>
        {% endif %}

    </div>
{% endblock %}
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>